@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_ForgetPasswordLayout.cshtml";
}


<head>
    <link rel="stylesheet" href="~/css/ForgetPassword.css" />
</head>

<div class="my-5">
    <h2>Forgot Password</h2>
    <form asp-action="ResetPassword" method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="userEmail" required>

        <input type="submit" value="Reset Password">
    </form>
    <div class="text-center mx-auto my-2" style="width:fit-content">
        @{
            if (ViewData["flag"] != null && ViewData["Message"] != null)
            {
                int flag = (int)ViewData["flag"];
                string message = ViewData["Message"].ToString();

                if (flag == 0)
                {
                    <p class="alert-warning">@message</p>
                }
                else if (flag == 1)
                {
                    <p class="alert-success">@message</p>
                }
            }
        }
    </div>

</div>


