.card {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

.card-content {
    text-align: center;
}

h2 {
    font-size: 18px;
    color: #333;
}

.invoice-count {
    font-size: 32px;
    font-weight: bold;
    color: #2b3467;
    margin-top: 10px;
}
