@model ConnectWiseBackend.Models.Transaction

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AfterLogin.cshtml";
}

<h1>Create</h1>

<h4>Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PayerId" class="control-label"></label>
                <input asp-for="PayerId" class="form-control" />
                <span asp-validation-for="PayerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceId" class="control-label"></label>
                <select asp-for="InvoiceId" class ="form-control" asp-items="ViewBag.InvoiceId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModeofPayment" class="control-label"></label>
                <input asp-for="ModeofPayment" class="form-control" />
                <span asp-validation-for="ModeofPayment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfPayemnt" class="control-label"></label>
                <input asp-for="DateOfPayemnt" class="form-control" />
                <span asp-validation-for="DateOfPayemnt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

