
@{
    ViewData["Title"] = "UpdatePassword";
    Layout = "~/Views/Shared/_BeforeLoginLayout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/ForgetPassword.css" />
</head>

<div class="my-5">
    <h2>Update Password</h2>
    <form asp-action="UpdatePassword" method="post">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <input type="submit" value="Update Password">
    </form>
    @*<div class="text-center mx-auto my-2" style="width:fit-content">
        @{
            if (ViewData["flag"] != null && ViewData["Message"] != null)
            {
                int flag = (int)ViewData["flag"];
                string message = ViewData["Message"].ToString();

                if (flag == 0)
                {
                    <p class="alert-warning">@message</p>
                }
                else if (flag == 1)
                {
                    <p class="alert-success">@message</p>
                }
            }
        }
    </div>*@

</div>

